# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Database
data/*.db
data/*.sqlite3

# Environment
.env
.env.local

# Frontend
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
